
<div class="row">
    <div class="col-md-4">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title text-center">Antrenör İşlemleri</h5>
                <hr>
                <div class="d-flex flex-column">
                    <a asp-action="TumAntrenorleriListele" class="card-text my-2">Antrenörleri Listele</a>
                    <a asp-action="AntrenorEkle" class="card-text my-2">Antrenör Ekle</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title text-center">Danışan İşlemleri</h5>
                <hr>
                <div class="d-flex flex-column">
                    <a asp-action="TumDanisanlariListele" class="card-text my-2">Danışanları Listele</a>
                    <a asp-action="DanisanEkle" class="card-text my-2">Danışan Ekle</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card my-2">
            <div class="card-body text-center">
                <h5 class="card-title">Card 3</h5>
                <p class="card-text">This is the content of card 3.</p>
            </div>
        </div>
    </div>
</div>